.container {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    grid-template-rows: 100px;
    align-content: center;
    background-color: coral;
    justify-content: center;
}

.box {
    background-color: deepskyblue;
    padding: 10px;
    color: rgb(27, 25, 24);
    text-align: center;
    font-weight: 700;
    border: 1px solid black;

}